SPRING_APPLICATION_NAME=ticket-online

SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/db_spring_event_ticket
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=fahmi123
SPRING_PROFILES_ACTIVE=staging

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true

# upload image
SPRING_SERVLET_MULTIPART_ENABLED=true
SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=5MB
SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=5MB

JWT_SECRET=thisIsMysecregtfrdesww233eggtffeeddgkjjhhtdhttebd54ndhdhfhhhshs8877465sbbdd
JWT_EXPIRATION=3600000

LOGGING_LEVEL_ROOT=info

PAYMENTGATEWAY_DUITKU_CALLBACKURL=https://cd29-2404-8000-1095-12f1-2dfe-5f75-fd56-48f.ngrok-free.app/api/transaction/callback
PAYMENTGATEWAY_DUITKU_RETURNURL=https://www.google.com
PAYMENTGATEWAY_DUITKU_MERCHANTCODE=DS21299
PAYMENTGATEWAY_DUITKU_APIKEY=36d359f7edace8b47b99c6b733eb0313